
img {
    width: 100%;
    height: auto;
  }
  body {
    background-color: rgb(73, 38, 38);
  }
  nav{
    height:75px;
  }
  ul{
    list-style:none;
  }
  li{
    display:inline-block;
    padding:10px;
  }
